.git
.github
.vscode
.idea
.claude

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

database/database.sqlite
database/*.sqlite

.env
.env.*
!.env.example

.phpunit.result.cache
phpunit.xml
tests

public/build
public/hot

Dockerfile
.dockerignore
fly.toml
README.md
